:root {
  --background: #484848;
  --accent: lightblue;
  --base-font: 'Calibri', sans-serif;
  --heading-font: 'Cambria', serif;
}

body {
  background-color: var(--background);
  font-family: var(--base-font);
  font-size: 110%;
}

header {
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  color: var(--accent);
  font-size: 200%;
  margin: 30px 0 15px;
  text-align: center;
  font-family: var(--heading-font);
}

header p {
  color: #fff;
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  line-height: 1.5em;
}

.card {
  flex: 1 1 300px;
  border: 2px dashed #fff;
  color: var(--accent);
  padding: 0 15px 15px;
  margin: 0 20px 40px;
}

.card h2 {
  font-size: 150%;
  width: 90%;
  border: 2px solid #fff;
  border-radius: 5px;
  position: relative;
  top: -15px;
  background-color: var(--background);
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-family: var(--heading-font)
}

.card p{
  color: var(--accent);
  margin-bottom: 10px;
}

.card pre {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(180deg, skyblue, blue);
  font-size: 100%;
  white-space: pre-wrap;
  user-select: all;
}

.card,.card h2 {
  transition: all 0.5s ease-in-out;
}

.card:hover,.card:hover h2 {
  box-shadow: inset 0px 0px 8px var(--accent), 0 0 15px var(--accent);
}

footer {
  color: skyblue;
  text-align: center;
}